*.pyc
*.pyd
*.pyi
*.egg-info
*.whl
/src/**/*.cpp
*.pyx
*.pxd
/src/pydear/_version.py
/src/pydear/imgui
/src/pydear/imgui_enum.py
/src/pydear/ctypes.py
/src/pydear/bind/
/src/pydear/rawtypes/
/typings/
/build/
/dist/
/.eggs/
/imgui.ini
/html/
*.pdb
