*.pyc
*.pyd
*.so
*.pyi
*.egg-info
*.whl
*.pyx
*.pxd
/src/pydear/_version.py
/src/pydear/*.py
/src/pydear/*.pyi
/src/pydear/bind/
/src/pydear/rawtypes/
/typings/
/build/
/dist/
/.eggs/
/html/
*.pdb
/.venv/
/_build/
/tile_cache/
/.cache/
/cpp_src/
/docs/autodoc/
*.ini
*.dat
*.log
tmp.png
